! WMBubble settings 
! vim: syntax=xdefaults
wmbubble.maxbubbles: 100
wmbubble.air_noswap: #2299FF
wmbubble.air_maxswap: #FF0000
wmbubble.liquid_noswap: #0055FF
wmbubble.liquid_maxswap: #AA0000
wmbubble.ripples: 0.2
wmbubble.gravity: 0.01
wmbubble.volatility: 1.0
wmbubble.viscosity: 0.98
wmbubble.speed_limit: 1.0
