! WMBubble settings 
wmbubble.maxbubbles: 100
wmbubble.air_noswap: #2299FF
wmbubble.air_maxswap: #FF0000
wmbubble.liquid_noswap: #0055FF
wmbubble.liquid_maxswap: #AA0000
wmbubble.ripples: 0.2
wmbubble.gravity: 0.01
wmbubble.volatility: 1.0
wmbubble.viscosity: 0.98
wmbubble.speed_limit: 1.0
wmbubble*duckbody: #F8FC00
wmbubble*duckbill: #F8B040
wmbubble*duckeye: black
wmbubble*delay: 15000
wmbubble*duck: yes
wmbubble*upsidedown: yes
wmbubble*cpumeter: yes
wmbubble*graphdigit: #308cf0
wmbubble*graphwarn: #ed1717
wmbubble*graphlabel: #C1C400
wmbubble*graphfield: #202020
wmbubble*graphgrid: #062A00
wmbubble*graphmax: #20B6AE
wmbubble*graphbar: #007D71
wmbubble*graphmarkers: #71E371
wmbubble*graphs: yes
wmbubble*units: kilobytes
wmbubble*shifttime: 0
wmbubble*digital: no
wmbubble*showdate: no
wmbubble*analog: no
wmbubble*hourcolor: #EEEEEE
wmbubble*mincolor: #BF0000
wmbubble*seccolor: #C79F2B